@import "scss/mq";
@import "scss/vars";

.settings {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  pointer-events: none;

  &__label {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0 0.4rem;
  }

  &__button {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-family: "Commodore 64", sans-serif;
    text-transform: uppercase;
    border: none;
    padding: 0.4rem;
    background-color: $color-lightblue;
    color: $color-darkblue;
    display: inline-flex;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.1s color;

    &--save {
      padding: 0.4rem 1.2rem;
      background-color: $color-cyan;
      color: white;

      transition: 0.1s background-color;

      &:before {
        content: ">";
        font-size: 80%;
        line-height: 1.2rem;
        position: absolute;
        left: 0.2rem;
        top: 0.4rem;
      }
      &:after {
        content: "<";
        font-size: 80%;
        line-height: 1.2rem;
        position: absolute;
        right: 0.2rem;
        top: 0.4rem;
      }
    }

    &--disabled {
      color: $color-lightblue;
      background-color: $color-darkblue;
      cursor: default;
      pointer-events: none;
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-direction: row;
    color: $color-darkblue;

    pointer-events: all;
    height: auto;

    @include for-phone-only {
      height: auto;
      background-color: $color-lightblue;
    }

    &--top {
      align-items: flex-end;
      > div {
        position: relative;
        top: -100%;
      }
      @include for-phone-only {
        flex-direction: column;
        align-items: flex-start;
        > div {
          top: unset;
        }
      }
    }

    &--bottom {
      position: relative;
      justify-content: flex-end;

      > div {
        position: relative;
        top: 100%;
      }
      @include for-phone-only {
        > div {
          top: unset;
        }
      }
    }
  }
}
